@charset "utf-8";
/*
 grid
*/
.grid {
  display: flex;
  align-items: left;
  margin: 0;
  padding: 0;
}

.grid-item {
  list-style: none;
  max-width: 150px;
  width: 20%;
  margin: 5px;
  height: 100px;
}


.grid-col-4>.grid-item {
    background-image: linear-gradient(#05FBFF, #1E00FF);
}

.grid-col-2>.grid-item {
  background-image:  radial-gradient(circle, #f4c14e 0% 40%, #d36950 60% 100%);
  box-shadow: 10px 10px 15px -10px;
}

.grid-col-6>.grid-item {
  background-image: linear-gradient(#6fb8d9, #f4c14e, #d36950);
}

