@charset "utf-8";

body {
  background: #663399;
  color: #FFFFFF;
}
/*
 grid
*/
.grid {
  display: flex;
  align-items: left;
  margin: 0;
  padding: 0;
}

.grid-item {
  list-style: none;
  max-width: 150px;
  width: 20%;
  margin: 5px;
  height: 80px;
  border-radius: 10px;/*角の丸み*/
}

.grid-item:hover{
	animation: rumble 0.12s linear infinite;
}
@keyframes rumble{
	0%	{transform:rotate(0deg)	translate(0,0);}
	12.5%	{transform:rotate(0.4deg)	translate(1px,-1px);}
	25%	{transform:rotate(0.8deg)	translate(0px,1px);}
	37.5%	{transform:rotate(0.4deg)	translate(-1px,0);}
	50%	{transform:rotate(0deg)	translate(0,0);}
	62.5%	{transform:rotate(-0.4deg)	translate(1px,0);}
	75%	{transform:rotate(-0.8deg)	translate(0,1px);}
	87.5%	{transform:rotate(-0.4deg)	translate(-1px,-1px);}
	100%	{transform:rotate(0deg)	translate(0,0);}
}

.grid-col-4>.grid-item {
    background-image: linear-gradient(#FFCCFF	, #00CCFF);
}

.grid-col-2>.grid-item {
  background-image:  radial-gradient(circle, #00FFFF 0% 40%, #6699FF 60% 100%);
  box-shadow: 10px 10px 15px -10px;
}

.grid-col-6>.grid-item {
  background-image: linear-gradient(#C299FF, #D0B0FF, #DCC2FF);
}